html,
body,
h1,
h2,
h3,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
}

body {
  background: #233142;
  font-family: helvetica, arial, sans-serif;
  font-size: 13px;
  color: #333333;
  line-height: 1;
}

.container-view h1 {
  font-size: 1.75em;
}

.call-item-container {
  width: 95%;
  height: 60px;
  border-color: rgb(203 213 225);
  border-width: 2px;
  border-style: solid;
  border-radius: 0.5rem;
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 10px;
  align-items: center;
}

.call-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50%;
  padding: 0 5px;
  width: 100%;
}

.call-info {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  margin-left: 10px;
}

.call-info p {
  margin: 0;
}

.main-call-number {
  font-weight: 700;
  font-size: 1.25em;
}

.time-info {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  height: 100%;
}

.time-info p {
  margin: 0;
}

.details-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.call-detail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.container-view button {
  background-color: green;
  color: white;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
}
